{{"<!-- end Contact Area -->" | safeHTML}}
<footer id="footer">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="500ms">
            <div class="col-xl-12">

                {{"<!-- Footer Social Links --> " | safeHTML}}
                <div class="social-icon text-center">
                    {{ range .Site.Params.social }}
                    <a href="{{ .link | safeURL }}">
                        <!--<i class="{{ .icon }}"></i>-->
                        <img src="{{.image | absURL}}">
                    </a>
                    {{ end }}
                </div>

                {{"<!-- copyright --> " | safeHTML}}
                <div class="copyright text-center">
                    <a href="{{ .Site.BaseURL | absLangURL }}">
                        <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}"/>
                    </a>
                    <br>
                    <p>{{ i18n "copyright" | markdownify }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    window.omnisend = window.omnisend || [];
    omnisend.push(["accountID", "5e96258d4c7fa47be74d54a7"]);
    omnisend.push(["track", "$pageViewed"]);
    !function () {
        var e = document.createElement("script");
        e.type = "text/javascript", e.async = !0, e.src = "https://omnisrc.com/inshop/launcher-v2.js";
        var t = document.getElementsByTagName("script")[0];
        t.parentNode.insertBefore(e, t)
    }();
</script>
{{"<!-- /footer -->" | safeHTML}}

{{ "<!-- Google Map API -->" | safeHTML }}
{{ if .Site.Params.map.enable }}
<script src="{{ .Site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.google_analitycs_id }}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ . }}', 'auto');
    ga('send', 'pageview');
</script>

{{ end }}
