{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.news.news}}
{{"<!-- Start counter -->" | safeHTML}}
<section id="news" class="section">
    <h1 class="headline-highlight">Latest News</h1>
    <div class="container">
        <div class="row">
            {{ range .stories}}
            <div class="col-md-12">
<!--                <a href="{{.newsLink}}">-->
                    <div class="story" style='background-image: url("{{ .image | absURL }}")'>
                        <div>
                            <h1>{{.title}}</h1>
                            <h5>{{.description}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
            {{"<!-- /section title -->" | safeHTML}}

        </div>
<!--        <a href="./news" type="button" class="btn btn-primary btn-lg">More News</a>-->
    </div>
</section>
{{"<!-- /counter -->" | safeHTML}}
{{end}}
