{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.welcomeToBG.welcomeToBG}}
{{"<!-- Start counter -->" | safeHTML}}
<section id="welcomeToBG" class="section section-border-image" style='background-image: url("{{ .bg | absURL }}")'>
    <h1><span class="red-font">Welcome</span> to the Battleground</h1>
    <div class="container">
        <div class="row">
            {{ range .cards}}
            <div class="col-lg textBox">
                {{ .text }}
                <div class="avatar" data-toggle="modal" data-target="#{{.title}}"></div>
            </div>
            <div class="modal fade" id="{{.title}}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">{{.title}}</h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{.text}}
                        </div>

                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    <a href="./game" type="button" class="btn btn-primary btn-lg" >Learn More!</a>
</section>
{{"<!-- /counter -->" | safeHTML}}
{{end}}
