{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.youtube.youtube}}
{{"<!-- Start counter -->" | safeHTML}}
<section id="youtube">
    <div class="yt-iframe-wrapper">
        <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>
{{"<!-- /counter -->" | safeHTML}}
{{end}}
